.slider {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.sliderOption {
    position: absolute;
    opacity: 0;
}

.sliderOption:checked + .sliderLabel {
    background-color: #007acc;
    color: white;
}

.sliderLabel {
    flex: 1;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.sliderLabel:not(:last-child) {
    margin-right: 5px;
}
