@external wp-*;

@url checkbox__inputMask__url svg_checkBox__inputMask;
@url checkbox__checkMask__url svg_checkBox__checkMask;

.wp-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    justify-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}


.wp-checkbox__input {
    display: inline-block;
}

.wp-checkbox__input--checked {
}

.wp-checkbox__input__box {
    stroke-width: 1.5;
    stroke: literal("var(--tertiary--color)");
    fill: none;
}


.wp-checkbox__input__check-mark {
    stroke-width: 2;
    stroke: #ffffff;
}


.wp-checkbox__label {
    text-wrap: none;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 3px;
    flex-basis: auto;
}

