.superClassTable {
    overflow: hidden;
    border-collapse: collapse;
    padding: 3px;
    width: 100%;
}

.tableText {
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: literal("var(--primary--color)");
    font-size: 12px;
}

.axisDropdownPlaceholder {
    font-style: italic;
}

.axisDropdownPlaceholder option  {
    font-style: normal!important;
}

.axisColumn{
    min-width: 350px;
    vertical-align: middle;
}

.valuesColumn{
    width: 100%;
    vertical-align: middle;
}

.lastItemInDropdown {
}


.logicalDefinitionDropdown {
    background-color: white;
    margin: 5px;
    width: 95%;
    padding: 3px;
}

.axisColumn  div {
    padding-left: 5px;
}

.customRowStyle {
    border-bottom: 1px solid #f2f2f2;
    min-height: 22px;
    line-height: 1rem;
}

.removeButtonCell {
    width: 20px;
    height: 20px;
    align-self: center;
}

.addAxisValueButton {
    width: 25px;
    height: 25px;
}

.addAxisValueCell {
    align-items: start;
    justify-content: start;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.removeButtonCell > div {
    margin-top: 2px;
    margin-bottom: 2px;
}


.superClassTableHeader td {
    background-color: literal("var(--grid-header--background-color)");
    color:            literal("var(--grid-header--color)");
    font-weight:      bold;
    padding:          0.3em 0.75em;
}

.superClassTableHeader td:first-child {
    border-top-left-radius:  literal("var(--grid-header--border-radius)");
    border-bottom-left-radius: literal("var(--grid-header--border-radius)");
}
.superClassTableHeader td:last-child {
    border-top-right-radius: literal("var(--grid-header--border-radius)");
    border-bottom-right-radius: literal("var(--grid-header--border-radius)");
}


.dropDownMandatory{
    color: red;
    margin: 2px;
    font-weight: 600;
}

.dropDownAllowed {
    color: green;
    margin: 2px;
    font-weight: 600;
}

.dropDownNotSet{
    margin: 2px;
}

.superClassName {
    font-size: 12px;
    font-weight: bold;
}

.selectValueModalWrapper {
    max-width: 600px!important;
}

.mainModalView {
    width: auto!important;
}

.selectValueModalWrapper > div {
    overflow: hidden!important;
}
