.postCoordinationHeader {
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    vertical-align: middle;
    border-left: 1px solid #eee;
    border-right: 1px solid #d0d0d0;
    color: #fff;
    line-height: 1.4;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    height: 100px;
    max-width: 43px;
    overflow: hidden;
}
.scaleValueHeader {
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
    background-color: #186cd4;
    padding: 10px;
    font-weight: bold;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.scaleValueRow {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    width: 99%;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    min-height: 35px;
    align-items: center;
}

.scaleValueCard {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    margin: 14px;
    width: 97%;
}

.scaleValue-table-button-cell {
    width: 30px;
    text-align: center;
    vertical-align: middle;
}
.scaleValue-table-value-cell {
    padding-left: 10px; /* Adjust padding value as needed */
    text-align: left; /* Ensure text is aligned to the left */
}

.rotatedHeader {
}

.rotatedHeader div {
  transform-origin: left;
  transform: rotate(-75deg)  translate(-50px,100%);
  display: table-cell;
  vertical-align: middle;
  text-align: start;
  text-wrap: wrap;
  white-space: nowrap;
}

.customRowStyle {
    border-bottom: 1px solid #f2f2f2;
}

.evenRowStyle {
    background-color: #f2f7f4;
}


.headerLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    min-width: 13vw;
    font-size: 14px;
    font-weight: bold;
}

.headerLabelRow {
    background-color: #186cd4;
}


.rowLabel {
    vertical-align: middle;
    display: flex;
    margin-left: 5px;

}


.postCoordinationTable {
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    margin: 15px;
    border-collapse: collapse;
    padding: 3px;
}